<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VK Music.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF37F6161A7141AC00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6231A7141AD00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F63C1A71423100310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6521A71423200310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6671A71426F00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F66E1A71437200310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F67B1A71437300310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6C81A7145BB00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6D11A71460900310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6E71A71462400310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37F6F41A71462500310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FA731A714BFD00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FA771A714C1000310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FA7E1A714C4800310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FA8F1A714C6100310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FA9C1A714C6100310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FBD41A714F0400310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FBE11A714F0400310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FC491A714F7C00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF37FC561A714F7D00310EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF66EF341A7063D8008D76A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF66EF411A7063D9008D76A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE72F3E1A1530F7006EF50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE72F5F1A1530F7006EF50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
